In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("../data/location_data.csv",index_col=None)

In [7]:
data_no_dup = data.drop_duplicates(ignore_index=True)
data_no_dup

,city,road,house_number,postcode,state
0,fort worth,sycamore school rd,5421,76123,texas
1,gautier,highway 90,2701,39553,mississippi
2,farmington,e main,4750,87401,nm
3,richland,queensgate drive,2751,99352,washington
4,davie,s state hwy seven,1600,33317,fl
...,...,...,...,...,...
41418,highland,baseline st,27774,92346,california
41419,hilliard,main st,3685,43026,ohio
41420,window rock,window rock loop road,264,86515,az
41421,denver,s santa fe dr,1395,80223,co
41422,pearland,n main st,1919,77581-3305,texas

In [16]:
np.sort(data_no_dup["state"].unique())

array(['ak', 'al', 'alabama', 'alaska', 'ar', 'arizona', 'arkansas', 'az',
       'bc', 'ca', 'california', 'carolina', 'co', 'colorado',
       'connecticut', 'ct', 'd.c.', 'daerah khusus ibukota jakarta', 'dc',
       'de', 'delaware', 'district of columbia', 'fl', 'florida', 'ga',
       'georgia', 'hampshire', 'hawaii', 'hi', 'ia', 'id', 'idaho', 'il',
       'illinois', 'in', 'indiana', 'iowa', 'island', 'kansas',
       'kentucky', 'ks', 'ky', 'la', 'lakes', 'lombardia', 'long island',
       'louisiana', 'ma', 'maine', 'maryland', 'massachusetts', 'md',
       'me', 'mi', 'michigan', 'minnesota', 'mississippi', 'missouri',
       'mn', 'mo', 'montana', 'ms', 'mt', 'nb', 'nc', 'nd', 'ne',
       'nebraska', 'nevada', 'new hampshire', 'new jersey', 'new mexico',
       'new york', 'nh', 'nj', 'nm', 'north carolina', 'north dakota',
       'ns', 'nsw', 'nv', 'ny', 'oh', 'ohio', 'ok', 'oklahoma', 'on',
       'or', 'oregon', 'pa', 'pennsylvania', 'range', 'region',
       'rhode island', 'ri', 'river south carolina', 'sc', 'sd',
       'south carolina', 'south dakota', 'southwest gulf coast',
       'tennessee', 'texas', 'tn', 'tri-valley', 'tx', 'ut', 'utah', 'va',
       'vermont', 'virginia', 'vt', 'wa', 'washington', 'west virginia',
       'wi', 'wisconsin', 'wv', 'wy', 'wyoming', 'york'], dtype=object)

In [37]:
print(data_no_dup[data_no_dup["state"]=="fl"].shape[0] + data_no_dup[data_no_dup["state"]=="florida"].shape[0])
# we have 2601 addresses pertaining to florida

2601

In [40]:
states = {
    "ak":"alaska",
    "al":"alabama",
    "ar":"arkansas",
    "ny" : "new york",
    "fl":"florida"
} # manual job. It does not contain all the states. It's just an example.
# we could search online for freely available file that would help us map this.

In [41]:
data_relabeled = data_no_dup.replace({"state":states})
#faster than several for loops, I think.

In [42]:
data_relabeled[data_relabeled["state"]=="fl"] # fl has been substituted by florida

Empty DataFrame
Columns: [city, road, house_number, postcode, state]
Index: []

In [43]:
data_relabeled[data_relabeled["state"]=="florida"].shape[0]

2601

In [47]:
data_relabeled["full_address"] = data_relabeled["road"] +"_"+ data_relabeled["house_number"]+"_"+data_relabeled["postcode"]

In [49]:
df_final = data_relabeled[["state","city","full_address"]].groupby(["state","city"]).agg(list)

In [50]:
df_final.to_csv("../data/results_simple_grouping.csv")