In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("../data/location_data.csv",index_col=None)

In [4]:
#data_no_dup = data.drop_duplicates(ignore_index=True)
data

,city,road,house_number,postcode,state
0,fort worth,sycamore school rd,5421,76123,texas
1,gautier,highway 90,2701,39553,mississippi
2,farmington,e main,4750,87401,nm
3,richland,queensgate drive,2751,99352,washington
4,davie,s state hwy seven,1600,33317,fl
...,...,...,...,...,...
63690,las vegas,meadows ln,4300,89107,nevada
63691,window rock,window rock loop road,264,86515,az
63692,alliance,w state st,2496,44601,oh
63693,denver,s santa fe dr,1395,80223,co
63694,pearland,n main st,1919,77581-3305,texas

In [5]:
#np.sort(data_no_dup["state"].unique())

In [6]:
#data_no_dup[data_no_dup["state"]=="fl"].shape[0] + data_no_dup[data_no_dup["state"]=="florida"].shape[0]
# we have 2601 addresses pertaining to florida
data[data["state"]=="sc"].shape[0] + data[data["state"]=="south carolina"].shape[0]

1075

In [18]:
 data[(data["state"]=="sc") & (data["city"]=="simpsonville")]

 # no 'fairview road' entry

               city                    road house_number postcode state
7431   simpsonville              ne main st          924    29681    sc
8966   simpsonville             fairview rd          692    29680    sc
14361  simpsonville  north east main street          924    29681    sc
18614  simpsonville             fairview rd          692    29680    sc
19817  simpsonville            south street         1025    29681    sc
30658  simpsonville                south st         1025    29681    sc
31639  simpsonville             fairview rd          692    29680    sc
35700  simpsonville                south st         1025    29681    sc
40578  simpsonville              ne main st          924    29681    sc
62692  simpsonville             fairview rd          692    29680    sc

In [7]:
states = {
    "ak":"alaska",
    "al":"alabama",
    "ar":"arkansas",
    "ny" : "new york",
    "fl":"florida",
    "sc":"south carolina"
} # manual job. It does not contain all the states. It's just an example.
# we could search online for freely available file that would help us map this.

In [8]:
data_relabeled = data.replace({"state":states})
#faster than several for loops, I think.

In [9]:
data_relabeled[data_relabeled["state"]=="sc"] # sc has been substituted by south carolina

Empty DataFrame
Columns: [city, road, house_number, postcode, state]
Index: []

In [10]:
data_relabeled[data_relabeled["state"]=="south carolina"].shape[0]

1075

In [11]:
data_relabeled["full_address"] = data_relabeled["road"] +"_"+ data_relabeled["house_number"]+"_"+data_relabeled["postcode"]
data_relabeled[["postcode1","postcode2"]] = data_relabeled["postcode"].str.split("-", expand=True)

In [12]:
 data_relabeled[(data_relabeled["state"]=="south carolina") & (data_relabeled["city"]=="simpsonville")]

,city,road,house_number,postcode,state,full_address,postcode1,postcode2
7431,simpsonville,ne main st,924,29681,south carolina,ne main st_924_29681,29681,None
8966,simpsonville,fairview rd,692,29680,south carolina,fairview rd_692_29680,29680,None
9125,simpsonville,south street,1025,29681,south carolina,south street_1025_29681,29681,None
14361,simpsonville,north east main street,924,29681,south carolina,north east main street_924_29681,29681,None
18614,simpsonville,fairview rd,692,29680,south carolina,fairview rd_692_29680,29680,None
19817,simpsonville,south street,1025,29681,south carolina,south street_1025_29681,29681,None
30658,simpsonville,south st,1025,29681,south carolina,south st_1025_29681,29681,None
31639,simpsonville,fairview rd,692,29680,south carolina,fairview rd_692_29680,29680,None
35700,simpsonville,south st,1025,29681,south carolina,south st_1025_29681,29681,None
40578,simpsonville,ne main st,924,29681,south carolina,ne main st_924_29681,29681,None
41030,simpsonville,ne main st,924,29681,south carolina,ne main st_924_29681,29681,None
43393,simpsonville,south st,1025,29681,south carolina,south st_1025_29681,29681,None
44014,simpsonville,ne main st,924,29681,south carolina,ne main st_924_29681,29681,None
49989,simpsonville,fairview rd,692,29680-6708,south carolina,fairview rd_692_29680-6708,29680,6708
62692,simpsonville,fairview rd,692,29680,south carolina,fairview rd_692_29680,29680,None
63077,simpsonville,fairview rd,692,29680,south carolina,fairview rd_692_29680,29680,None

In [13]:
df_final = data_relabeled[["state","city","postcode1","full_address"]].groupby(["state","city","postcode1"]).agg(list)

In [14]:
for el in df_final.loc["south carolina","simpsonville","29680"]:
    print(el)

['fairview rd_692_29680', 'fairview rd_692_29680', 'fairview rd_692_29680', 'fairview rd_692_29680-6708', 'fairview rd_692_29680', 'fairview rd_692_29680']

In [15]:
df_final.to_csv("../data/results_simple_grouping.csv")